<mat-toolbar color="primary" class="header-toolbar">
  <mat-toolbar-row>
    <div class="logo-section" routerLink="/">
      <div class="logo">
        <mat-icon class="logo-icon">pets</mat-icon>
      </div>
      <span class="store-name">Pawfect Store</span>
    </div>

    <span class="spacer"></span>

    <span class="spacer"></span>
    <div class="menu-section">
      <ng-container *ngIf="currentUser$ | async as user; else loginButton">
        <span #cartIcon>
          <button mat-icon-button
        *ngIf="cartItemCount$ | async as count"
        (mouseenter)="onCartHover(cartIcon, cartOverlayTpl); onCartIconMouseEnter()"
        (mouseleave)="onCartIconMouseLeave()"
        (click)="openCartDialog()"
        >
            <mat-icon>shopping_cart</mat-icon>
            <span class="cart-count" *ngIf="cartItemCount$ | async as count">{{ count }}</span>
          </button>
        </span>

        <ng-template #cartOverlayTpl>
          <div (mouseenter)="onOverlayMouseEnter()" (mouseleave)="onCartLeave()">
            <app-cart-overlay [cartItems]="cartItems" (cartItemRemoved)="onCartOverlayAction($event)"></app-cart-overlay>
          </div>
        </ng-template>

        <span class="user-info">Welcome, {{user.firstName}}!</span>
        <button mat-icon-button [matMenuTriggerFor]="mainMenu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #mainMenu="matMenu">
          <button mat-menu-item routerLink="/categories" *ngIf="isAdmin()">
            <mat-icon>category</mat-icon>
            <span>Categories</span>
          </button>
          <button mat-menu-item routerLink="/discounts" *ngIf="isAdmin()">
            <mat-icon>local_offer</mat-icon>
            <span>Discounts</span>
          </button>
          <button mat-menu-item routerLink="/pets">
            <mat-icon>pets</mat-icon>
            <span>Pets</span>
          </button>
          <button mat-menu-item routerLink="/orders">
            <mat-icon>shopping_bag</mat-icon>
            <span>{{isAdmin() ? 'Orders' : 'My Orders' }}</span>
          </button>
          <button mat-menu-item routerLink="/address-book">
            <mat-icon>import_contacts</mat-icon>
            <span>Address Book</span>
          </button>
          <button mat-menu-item routerLink="/users" *ngIf="isAdmin()">
            <mat-icon>people</mat-icon>
            <span>Users</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item [routerLink]="['/users', user.id, 'edit']">
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </ng-container>
      <ng-template #loginButton>
        <button mat-flat-button color="accent" (click)="navigateToLogin()">
          <mat-icon>login</mat-icon>
          Login
        </button>
      </ng-template>
    </div>
  </mat-toolbar-row>
</mat-toolbar>